* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #333333;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 112px 1fr;
    align-items: center; 
    gap: 20px;

    padding: 20px;

}

textarea {
    resize: none;
}

.large-area {
    height: 100%;
    padding: 20px;
    color: #aaaaaa;
    background: #444444;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: monospace;

    transition: background 0.25s, color 0.25s;
}

.large-area:hover,
.large-area:focus {
    background: #4a4a4a;
}

.large-area:focus {
    color: #eeeeee;
}

.large-area--output:hover {
    cursor: pointer;
}


.controls__button {
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #009578;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.controls__button:active {
    background: #00705a;
}

.controls__button:hover {
    background: #016854;
}
